/* BACKDROP */
.invite-overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-family: 'Poppins', sans-serif;
}

/* MODAL */
.invite-modal {
  width: 420px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  animation: scaleIn 0.25s ease;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
}

/* ANIMATION */
@keyframes scaleIn {
  from {
    transform: scale(0.85);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* HEADERS */
.invite-modal h2 {
  margin-bottom: 6px;
}

.subtitle {
  font-size: 13px;

  margin-bottom: 20px;
}

/* SECTION LABEL */
.invite-modal h4 {
  margin: 14px 0 6px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

/* INPUT */
.invite-modal input[type="email"] {
  width: 80%;
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: border 0.2s, box-shadow 0.2s;
}

.invite-modal input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.15);
}

/* RADIO */
.radio-group {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-top: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}

/* ERROR */
.error-msg {
  margin-top: 10px;
  color: #e11d48;
  font-size: 13px;
  animation: shake 0.2s ease-in-out;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

/* BUTTONS */
.btn-row {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 22px;
}

.cancel-btn {
  background: transparent;
  border: none;
  color: #555;
  font-size: 15px;
  padding: 10px 16px;
  cursor: pointer;
}
.cancel-btn:hover{
    color: #3b82d1;
}
.send-btn {
  border: none;
  color: black;
  border: 2px solid #3d82d1;
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.5s, box-shadow 0.15s;
}



.send-btn:hover {
  background: #3b82d1;
  color: #fefeff;
  transform: translateY(-1px);
  transition: ease-in 0.15s;
  box-shadow: 0 8px 20px rgba(79, 70, 229, 0.4);
}

.send-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
